body {
  background-color: #404040;
}

.jumbotron {
       text-align: center;
       font-family: 'Cabin Sketch', cursive;
       background-color: #DDDDDD !important;
       color: #282E34 !important;
     }
     

.lead {
  font-family: 'Zilla Slab Highlight', cursive;
}
     
.container {
      text-align: center;
     }
     
h3 {
  font-family: 'Cabin Sketch', cursive;
}
     
.about {
  background-color: #DDDDDD;
  font-family: 'Cabin Sketch', cursive;
  color: #282E34 !important;
}

h4, p {
  font-family: 'Handlee', sans-serif;
  letter-spacing: .5px;
}

.footer {
  font-family: 'Handlee', cursive;
  color: #DDDDDD;
}

hr {
  border: none;
  height: 2px;
  background-color: #808080;
}